python-dotenv
langchain-openai
langchain-anthropic
langchain-community
chromadb
unstructured[all-docs]
unstructured-client
streamlit
psutil
langchain
langchain-chroma
langchain-core
pydantic
cohere
langchain-text-splitters
langchain-core
tiktoken
langchainhub
beautifulsoup4
langchain-cohere
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-vector-stores-chroma
nltk